:root {
  --bg-color: #FDF9F0;
  --blue: #3D7B9A;
  --green: #59C0B2;
  --yellow: #F8CC83;
  --white: #FDF9F0;
  --red: #ED7677;
}

html {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

body {
  margin: 0;
  padding: 10px 15px;
  background-color: var(--white);
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  overflow-y: scroll;
  overflow-x: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
