:root {
  --dark-blue: #3B3658;
  --blue: #A5B0FE;
  --primary: #A5B0FE;
  --yellow: #F8CC83;
  --white: #FFF;
  --red: #ED7677;
}

html {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

body {
  margin: 0;
  padding: 10px 15px;
  background-color: var(--white);
  font-family: 'Rubik', sans-serif;
  color: var(--dark-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  overflow-y: scroll;
  overflow-x: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: calc(100% - 20px);
}

button {
  box-sizing: content-box;
}